<form>
  <GenericForm />

  <EmberTable as |t|>
    <t.head
            @columns={{columns}}
            @sorts={{sorts}}
            @onUpdateSorts={{action (mut sorts)}}
            @widthConstraint='gte-container' as |h|>
      <h.row as |r|>
        <r.cell as |column|>
          {{column.name}}
        </r.cell>
      </h.row>
    </t.head>

    <t.body @rows={{@model}} as |b|>
      <b.row as |r|>
        <r.cell as |cell column row|>
          {{cell}}
          {{#if (eq column.valuePath 'edit')}}
            <LinkTo @route="employees.edit" @model={{row.id}} class="btn btn-primary" role="button" aria-pressed="false">
              Edit
            </LinkTo>
          {{/if}}
          {{#if (eq column.valuePath 'delete')}}
            <button {{action 'openModal' 'delete'}} class="btn btn-danger" role="button" aria-pressed="false">
              Delete
            </button>
          {{/if}}
        </r.cell>
      </b.row>
    </t.body>
  </EmberTable>

  <button {{action 'editEmployee'}} type="submit" class="btn btn-primary">Save</button>
  <LinkTo @route="employees" class="btn btn-light" role="button" aria-pressed="false">
    Cancel
  </LinkTo>
</form>